@font-face{
	font-family: google-m;
	src: url('../fonts/GoogleSans-Medium.ttf');
}
@font-face{
	font-family: google-b;
	src: url('../fonts/GoogleSans-Bold.ttf');
}
@font-face{
	font-family: google-r;
	src: url('../fonts/GoogleSans-Regular.ttf');
}

@font-face{
	font-family: google;
	src: url('../fonts/GoogleSans-Regular.ttf');
}

@font-face{
	font-family: googleBold;
	src: url('../fonts/GoogleSans-Bold.ttf');
}

/* width */
::-webkit-scrollbar {
  width: 6.5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

html{
	scroll-behavior: smooth;
}

body{
	padding: 0;
	margin: 0;
	font-family: google-r;
}
h1{font-family: google-b}
p{font-family: google-r}

*{
	margin: 0;
	padding: 0;
}

*,*:before,*:after
{
    box-sizing: inherit;
    margin: 0 auto;
    padding: 0;
}

.grid
{
	width: 100%;
	max-width: 100%;
	margin: 0 auto;
}

.grid:after, .grid:before,
.row:after, .row:before
{
	content: "";
	display: table;
}

.grid:after, .row:after {clear: both;}

[class*="col-"]
{
	width: 100%;
	min-height: 1px;
    float: left;
}

@media screen and (min-width:320px)
{
	.col-sm-1 {width: 8.33%;}
	.col-sm-2 {width: 16.66%;}
	.col-sm-3 {width: 25%;}
	.col-sm-4 {width: 33.33%;}
	.col-sm-5 {width: 41.66%;}
	.col-sm-6 {width: 50%;}
	.col-sm-7 {width: 58.33%;}
	.col-sm-8 {width: 66.66%;}
	.col-sm-9 {width: 75%;}
	.col-sm-10 {width: 83.33%;}
	.col-sm-11 {width: 91.66%;}
	.col-sm-12 {width: 100%;}
}

@media screen and (min-width:640px)
{
	.col-md-1 {width: 8.33%;}
	.col-md-2 {width: 16.66%;}
	.col-md-3 {width: 25%;}
	.col-md-4 {width: 33.33%;}
	.col-md-5 {width: 41.66%;}
	.col-md-6 {width: 50%;}
	.col-md-7 {width: 58.33%;}
	.col-md-8 {width: 66.66%;}
	.col-md-9 {width: 75%;}
	.col-md-10 {width: 83.33%;}
	.col-md-11 {width: 91.66%;}
	.col-md-12 {width: 100%;}
}

@media screen and (min-width:1367px)
{
	.col-lg-1 {width: 8.33%;}
	.col-lg-2 {width: 16.66%;}
	.col-lg-3 {width: 25%;}
	.col-lg-4 {width: 33.33%;}
	.col-lg-5 {width: 41.66%;}
	.col-lg-6 {width: 50%;}
	.col-lg-7 {width: 58.33%;}
	.col-lg-8 {width: 66.66%;}
	.col-lg-9 {width: 75%;}
	.col-lg-10 {width: 83.33%;}
	.col-lg-11 {width: 91.66%;}
	.col-lg-12 {width: 100%;}

}

.wrapper{
	width: 100%;
	min-height: 1px;
	height: max-content;
}
.max-content{
	width: 80%;
	height: max-content;
	position: relative;
	z-index: 1;
}

/* Navbar */
.bg-nav{
	width: 100%;
	height: 10vh;
	position: fixed;
	z-index: 999;
	transition: .3s;
}
.bg-nav a{
	margin: 0;
	padding: 0;
}
.bg-nav img{
	width: 300px;
	margin: 0;
}
.bg-nav .col-md-12{
	display: flex;
	height: 10vh;
	align-items: center;
	justify-content: space-between;
}
.bg-nav .menu{
	margin: 0;
}
.bg-nav .menu ul{
	list-style: none;
	cursor: default;
}
.bg-nav .menu ul li a{
	text-decoration: none;
	font-family: google-m;
	color: #A1A1A1;
	margin: 0 8px;
	font-size: 20px;
	transition: .3s;
}
.bg-nav .menu ul li a:hover{
	color: #FFF;
}
.bg-nav .menu .line{
	cursor: default;
}
.active{
	color: #FFF!important;
	transition: .3s;
}
.active2{
	color: #FF3B30!important;
	transition: .3s;
}
.daftar{
	color: #FFF!important;
	border: 2px solid #FFF;
	padding: 7px 15px!important;
	border-radius: 5px;
	transition: .3s;
	border: 2px solid #FFF;
}
.daftar2{
	color: #FF3B30!important;
	border: 2px solid #FFF;
	padding: 7px 15px!important;
	border-radius: 5px;
	transition: .3s;
	border: 2px solid #FF3B30;
}
.bg-nav-color{
	background-color: #FFF;
	transition: .5s;
	box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.5);
}
.bg-nav-color .active{
	color: #FF3B30!important;
	transition: .3s;
}
.bg-nav-color .daftar{
	color: #FF3B30!important;
	border: 2px solid #FF3B30!important;
	transition: .3s;
}
.bg-nav-color .menu ul li a:hover{
	color: #FF3B30;
	transition: .3s;
}

/* Header */
.bg-header{
	width: 100%;
	height: 100vh;
}
.bg-header .left{
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
.bg-header .left img{
	width: 100%;
}
.bg-header .right{
	height: 100vh;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	flex-direction: column;
}
.bg-header span{
	color: #FF3B30;
}
.bg-header h1{
	margin: 0;
	font-size: 35px;
	text-align: right;
	margin-bottom: 20px;
}
.bg-header p{
	margin: 0;
	text-align: right;
	width: 450px;
	color: #A1A1A1;
	font-size: 20px;
}


/* Feature */
.bg-feature{
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	position: relative; 
}
.bg-feature span{
	color: #FF3B30;
}
.bg-feature h1{
	font-size: 35px;
	text-align: center;
	margin-bottom: 50px;
}
.bg-feature .col-md-4{
	height: 40vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
}
.bg-feature img{
	width: 100px;
	margin: 30px 0;
}
.bg-feature .seller{
	width: 70px
}
.bg-feature h2{
	margin: 10px 0;
}
.bg-feature p{
	font-family: google-r;
	color: #A1A1A1;
	padding: 0 20px;
}
.bg-feature .patern1{
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: -1;
	width: 300px;
}
.bg-feature .patern2{
	position: absolute;
	top: 0;
	right: 0;
	z-index: -1;
	width: 300px;
}

/* Team */
.bg-team{
	width: 100%;
	height: 100vh;
}
.bg-team .left{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	height: 100vh;
}
.bg-team .right{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}
.bg-team .right img{
	width: 100%;
}
.bg-team span{
	color: #FF3B30;
}
.bg-team h1{
	margin: 0;
	font-size: 35px;
	text-align: left;
	margin-bottom: 20px;
}
.bg-team p{
	margin: 0;
	text-align: left;
	width: 450px;
	color: #A1A1A1;
	font-size: 20px;
}

/* Contact */
.bg-contact{
	width: 100%;
	height: 100vh;
}
.bg-contact .left{
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.bg-contact img{
	width: 100%;
}
.bg-contact .right{
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.bg-contact span{
	color: #FF3B30;
}
.bg-contact p{
	text-align: center;
	padding: 0 50px;
	color: #A1A1A1;
}
.bg-contact .form-group{
	width: 350px;
	height: max-content;
	display: flex;
	flex-direction: column;
	margin: 10px 0;
}
.bg-contact .form-group h4{
	color: #A1A1A1;
	margin: 0;
	margin-bottom: 10px;
}
.bg-contact .form-group input{
	display: block;
	padding: 15px;
	color: #707070;
	border: 1px solid #707070;
	border-radius: 3px;
	margin: 0;
	outline: none;
	font-family: google-m;
}
.bg-contact .form-group textarea{
	width: calc(100% - 15px);
	padding-left: 15px;
	padding-top: 10px;
	height: 15vh;
	resize: none;
	color: #707070;
	border: 1px solid #707070;
	outline: none;
	font-family: google-m;
	border-radius: 3px;
}
.bg-contact .form-group a{
	padding: 10px 0;
	color: #FF3B30;
	background-color: #FFE9E8;
	text-decoration: none;
	font-family: google-b;
	width: 100%;
	text-align: center;
	border-radius: 5px;
}

/* Footer */
.bg-footer{
	margin-top: 50px;
	width: 100%;
	height: max-content;
	padding-bottom: 10px;
}
.bg-footer img{
	width: 90%;
}
.bg-footer span{
	color: #FF3B30;
}
.bg-footer .about p{
	color: #A1A1A1;
	font-family: google-m;
	margin: 20px 0;
	width: 95%;
}
.bg-footer .about ul{
	list-style: none;
}
.bg-footer .about ul li{
	display: inline;
}
.bg-footer .about ul li a{
	text-decoration: none;
	color: #A1A1A1;
	font-size: 20px;
}
.bg-footer .menu h2, .bg-footer .contact h2, .bg-footer .subs h2{
	 color: #707070;
	 font-family: google-b;
	 padding-bottom: 10px;
}
.bg-footer .menu ul{
	 list-style: none;
}
.bg-footer .menu ul li{
	padding: 5px 0;
}
.bg-footer .menu ul li a{
	text-decoration: none;
	color: #707070;
	font-family: google-m;
}
.bg-footer .contact ul{
	 list-style: none;
}
.bg-footer .contact ul li{
	padding: 5px 0;
	color: #707070;
	font-family: google-m;
}
.bg-footer .contact ul li i{
	padding-right: 15px;
}
.bg-footer .subs p{
	color: #707070;
	font-size: 16px;
}
.bg-footer .subs input{
	width: calc(100% - 25px);
	margin: 10px 0;
	padding: 10px;
	outline: none;
	border-radius: 3px;
	border: 1px solid #707070;
	font-family: google-r;
	color: #707070;
}
.bg-footer .subs a{
	display: block;
	background-color: #FFE9E8;
	color: #FF3B30;
	text-decoration: none;
	text-align: center;
	padding: 10px 0;
	font-family: google-m;
	border-radius: 3px;
}
.bg-footer hr{
	margin: 10px 0;
	height: 2px;
	border-radius: 50px;
	background-color: #A1A1A1;
}
.bottom{
	width: 100%;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.bottom p{
	margin: 0;
	font-size: 15px;
	font-family: google-m;
	color: #A1A1A1;
} 
.bottom p .fa-copyright{
	padding-right: 10px;
}
.bottom p .fa-heart{
	padding: 0 5px;
	color: #FF3B30;
}



@media screen and (max-width:500px){
	/* Navbar */
	.bg-nav img{
		width: 200px;
	}
	.bg-nav .menu{
		display: none;
	}

	/* Header */
	.bg-header h1{
		font-size: 30px;
	}
	.bg-header .row{
		height: 100vh;
		display: flex;
		flex-direction: column;
	}
	.bg-header .col-md-6{
		height: max-content;
		padding-bottom: 100px;
	}
	.bg-header .pcright{
		order: 1;
	}
	.bg-header .pcleft{
		order: 2;
	}
	.bg-header .imgpc{
		display: none;
	}
	.bg-header .imgmobile{
		display: inline;
		width: 90%;
		margin: 0;
		position: relative;
		right: -50px;
		top: 50px;
	}

	/* Categories */
	.bg-categories .carousel-cell{
		width: 100%!important;
	}

	/* Tutorial */
	.bg-tutorial, .bg-tutorial .col-md-6{
		height: max-content;
	}
	.bg-tutorial .md-left{
		display: none;
	} 
	.bg-tutorial .col-md-6{
		width: 100%;
	} 

	/* Join */
	.bg-join, .bg-join .row, .bg-join .col-md-6{
		height: max-content;
		padding-bottom: 20px;
	}
	.bg-join .row{
		display: flex;
		flex-direction: column;
	}
	.bg-join .row .left{
		order: 2;
	}
	.bg-join .row .right{
		order: 1;
	}	

	/* Testimoni */
	.bg-testimoni{
		height: max-content;
		padding-bottom: 30px;
	}
	.bg-testimoni .col-md-4{
		display: none;
	}
	.bg-testimoni .main-carousel{
		margin-top: 20px;
		display: inline;
	}
	.bg-testimoni .carousel-cell {
	  width: 100%; /* full width */
	  height: 520px; /* height of carousel */
	  margin:0 10px;
	  box-shadow: 0px 0px 5px rgba(0,0,0,.2);
	  overflow: hidden;
	  margin-top: 30px;
	}
	.bg-testimoni .carousel-cell .img{
		width: 100%;
		height: 360px;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}
	.bg-testimoni .carousel-cell .img1{background-image: url('../images/testimoni/1.jpg');}
	.bg-testimoni .carousel-cell .img2{background-image: url('../images/testimoni/2.jpg');}
	.bg-testimoni .carousel-cell .img3{background-image: url('../images/testimoni/3.jpg');}

	.bg-testimoni p{
		text-align: center;
		margin: 20px 0;
		font-style: italic;
		padding: 0 10px;
		color: #A1A1A1;
	}
	.bg-testimoni h3{
		text-align: center;
	}

	/* App */
	.bg-app, .bg-app .col-md-7, .bg-app .col-md-5{
		height: max-content;
	}
	.bg-app a img{
		width: 200px!important;
	}

	/* About */
	.bg-about, .bg-about .col-md-6{
		height: max-content;
		padding: 30px 0;
	}
	.bg-about .max-content{
		width: 80%
	}

	/* Footer */
	.bg-footer{
		height: max-content;
	}
	.bg-footer .max-content{
		width: 90%;
	}
	.bg-footer .about, .bg-footer .menu, .bg-footer .contact, .bg-footer .subs{
		margin: 20px 0;
	}
	.bottom{
		flex-direction: column;
	}
}

@media screen and (max-width:800px) and (min-width: 501px){
	.col-m-6 {width: 50%;}
	.bg-nav img{
		width: 200px;
	}
	.bg-nav .menu{
		display: none;
	}
	/* Header */
	.bg-header{
		height: max-content;
	}
	.bg-header .col-md-6{
		height: 60vh;
		position: relative;
	}
	.bg-header .imgpc{
		position: absolute;
		top: 0;
		right: 0;
		width: 450px;
	}
	.bg-header h1{
		font-size: 25px;
	}

	/* Categories */
	.bg-categories .carousel-cell{
		width: 50%;
	}

	/* Join */
	.bg-join, .bg-join .col-md-6{
		height: 60vh
	}
	.bg-join h1{
		font-size: 25px!important;
	}

	/* Tutorial */
	.bg-tutorial .md-left{
		display: none;
	} 
	.bg-tutorial .col-md-6{
		width: 100%;
	} 

	/* Testimoni */
	.bg-testimoni{
		height: max-content;
		padding-bottom: 30px;
	}
	.bg-testimoni .col-md-4{
		display: none;
	}
	.bg-testimoni .main-carousel{
		margin-top: 20px;
		display: inline;
	}
	.bg-testimoni .carousel-cell {
	  width: 100%; /* full width */
	  height: 520px; /* height of carousel */
	  margin:0 10px;
	  box-shadow: 0px 0px 5px rgba(0,0,0,.2);
	  overflow: hidden;
	  margin-top: 30px;
	}
	.bg-testimoni .carousel-cell .img{
		width: 100%;
		height: 360px;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}
	.bg-testimoni .carousel-cell .img1{background-image: url('../images/testimoni/1.jpg');}
	.bg-testimoni .carousel-cell .img2{background-image: url('../images/testimoni/2.jpg');}
	.bg-testimoni .carousel-cell .img3{background-image: url('../images/testimoni/3.jpg');}

	.bg-testimoni p{
		text-align: center;
		margin: 20px 0;
		font-style: italic;
		padding: 0 10px;
		color: #A1A1A1;
	}
	.bg-testimoni h3{
		text-align: center;
	}

	/* FAQ */
	.bg-faq{
		height: 50vh;
	}
	.bg-faq .col-md-7{
		width: 90%
	}

	/* App */
	.bg-app, .bg-app .col-md-7, .bg-app .col-md-5{
		height: 50vh;
	}
	.bg-app .col-md-7{
		width: 41.66%;
	}
	.bg-app .col-md-5{
		width: 58.33%;
	}

	/* About */
	.bg-about .col-md-6, .bg-about{
		height: 50vh;
	}
	.bg-about .max-content{
		width: 80%;
	}
	.bg-about .tablet{
		width: 58.33%;
	}
	.bg-about .right{
		width: 41.66%;
	}

	/* Footer */
	.bg-footer h2{
		font-size: 20px;
	}
	.bg-footer ul li{
		font-size: 15px;
	}
	.contact ul li{
		font-size: 10px;
	}
}