/*======================= Transition Screen ============================*/
.transition-screen{
	width: 100%;
	height: 100vh;
	background: #F4F7FC;
	position: fixed;
	z-index: 55;
	transition: 1s ease;
	overflow: hidden;
	z-index: 9;
}

.loading-wrapper{
	width: 30vh;
	height: 30vh;
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
}

.loading-wrapper img{
	width: 100%;
}